<app-generic-spinner *ngIf="!viewHtml"></app-generic-spinner>
<app-nav-p></app-nav-p>
<section *ngIf="viewHtml">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <h3 class="my-3">{{this.dataUser.nombre_transportista}}</h3>
            <p class="text-muted "><strong>Licencia:</strong> {{this.dataUser.licencia_transportista}}</p>
            <p class="text-muted "><strong>Estado transportista:</strong> {{this.dataUser.estado_transportista}}</p>
            <p class="text-muted "><strong>Tipo de licencia: </strong>{{this.dataUser.tipo_licencia}}</p>
          </div>
        </div>
        <div class="card mb-4 mb-lg-0">
          <div class="card-body p-0">
            <div class="row">
              <div class="col text-center">
                <h3 class="my-3">DATOS TRANSPORTE</h3>
                <p class="text-muted "><strong>Placa:</strong> {{this.dataUser.no_placa_transporte}}</p>
                <p class="text-muted "><strong>Marca:</strong> {{this.dataUser.marca_vehiculo}}</p>
                <p class="text-muted "><strong>Tipo vehículo: </strong>{{this.dataUser.tipo_vehiculo}}</p>
                <p class="text-muted "><strong>Peso vehículo: </strong>{{this.dataUser.peso_transporte}}</p>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <h3 class="my-3 text-center mb-4">DATOS PARCIALIDAD</h3>

              <div class="col-sm-3">
                <p class="mb-0">Identificador parcialidad:</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{this.dataUser.id_parcialidad}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Número de cuenta:</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{this.dataUser.no_cuenta}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Peso parcialidad:</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{this.dataUser.peso_parcialidad_kg}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Estado Parcialidad:</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{this.dataUser.estado_parcialidad}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <h3 class="my-3 text-center mb-4">DATOS DEL PRODUCTOR</h3>

              <div class="col-sm-3">
                <p class="mb-0">NIT:</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{this.dataUser.nit_productor}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Razón social:</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{this.dataUser.razon_social}}</p>
              </div>
            </div>
            <hr>
            <div class="col text-center">
              <button (click)="autorizarLicencia()" type="submit" class="btn btn-primary mx-2 my-2">Autorizar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>